In [1]:
import numpy as np
import pandas as pd

In [2]:
import pandas as pd

df = pd.read_csv(r"G:\DS_ALL_TOGETHER\bi project\Retail Insights dashboard\Sales Dataset\data.csv")

currency_cols = ['Cost_Price', 'Retail_Price', 'Sub_Total', 'Discount_Amount',
                 'Order_Total', 'Shipping_Cost', 'Grand_Total', 'Profit_Margin']
for col in currency_cols:
    df[col] = df[col].replace(r'[\$,]', '', regex=True).astype(float)

percent_cols = ['Discount_percent']
for col in percent_cols:
    df[col] = df[col].str.replace('%', '', regex=False).astype(float)

numeric_cols = ['Order_Quantity']
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')
money_cols = ['Cost_Price', 'Retail_Price', 'Profit_Margin', 'Sub_Total',
              'Discount_Amount', 'Order_Total', 'Shipping_Cost', 'Grand_Total']
for col in money_cols:
    df[col] = df[col].astype(float)

df['Discount_percent'] = df['Discount_percent'].astype(float)
df['Order_Quantity'] = df['Order_Quantity'].astype('Int64')

print(df.dtypes)
print(df.head())

Order_No              object
Order_date            object
Customer_Name         object
Address               object
City                  object
State                 object
Customer_Type         object
Account_Manager       object
Order_Priority        object
Product_Name          object
Product_Category      object
Product_Container     object
Ship_Mode             object
Ship_Date             object
Cost_Price           float64
Retail_Price         float64
Profit_Margin        float64
Order_Quantity         Int64
Sub_Total            float64
Discount_percent     float64
Discount_Amount      float64
Order_Total          float64
Shipping_Cost        float64
Grand_Total          float64
dtype: object
  Order_No  Order_date           Customer_Name  \
0   4293-1    2/9/2014        Vivek Sundaresam
1   5001-1  24-10-2015          Shahid Hopkins
2   5004-1  13-03-2014           Dennis Pardue
3   5009-1  18-02-2013              Sean Wendt
4   5010-1  13-09-2014  Christina Vanderzanden

                          Address       City State   Customer_Type  \
0  152 Bunnerong Road,Eastgardens     Sydney   NSW  Small Business
1   438 Victoria Avenue,Chatswood     Sydney   NSW       Corporate
2        412 Brunswick St,Fitzroy  Melbourne   VIC        Consumer
3        145 Ramsay St,Haberfield     Sydney   NSW  Small Business
4          188 Pitt Street,Sydney     Sydney   NSW  Small Business

  Account_Manager Order_Priority  \
0    Tina Carlton       Critical
1    Natasha Song         Medium
2    Connor Betts  Not Specified
3     Phoebe Gour       Critical
4    Tina Carlton  Not Specified

                                     Product_Name  ... Cost_Price  \
0  UGen Ultra Professional Cordless Optical Suite  ...     156.50
1                             Bagged Rubber Bands  ...       0.24
2                 TechSavi Cordless Navigator Duo  ...      42.11
3   Artisan Printable Repositionable Plastic Tabs  ...       5.33
4                       Pizazz Drawing Pencil Set  ...       1.53

  Retail_Price Profit_Margin Order_Quantity  Sub_Total  Discount_percent  \
0       300.97        144.47             23    4533.52               2.0
1         1.26          1.02              8      45.20               3.0
2        80.98         38.87             45     873.32               4.0
3         8.60          3.27             16      73.52               1.0
4         2.78          1.25             49     138.46               7.0

   Discount_Amount  Order_Total  Shipping_Cost  Grand_Total
0           194.83      4757.22           7.18      4291.55
1             0.00        45.90           0.70        46.91
2            72.23       837.57           7.18        82.58
3             4.35       740.67           6.19       730.92
4             5.95       123.77           1.34       125.97

[5 rows x 24 columns]

In [29]:

df = df.dropna(subset=['Order_Quantity'])
print(df['Order_Quantity'].isna().sum())

0

In [30]:
# Find duplicate Order_No values
duplicates = df[df.duplicated(subset=['Order_No'], keep=False)]

# Show duplicates
print(duplicates)

# Count how many duplicate Order_No
print("Number of duplicate Order_No:", duplicates.shape[0])
df.head()

     Order_No  Order_date      Customer_Name  \
6      5012-1    7/9/2014       Eugene Moren
7      5012-1  28-01-2015  Phillip Flathmann
9      5015-1   2/10/2014    Ritsa Hightower
10     5015-1    1/4/2014         Anne Pryor
13     5019-1  18-11-2013  Phillip Flathmann
...       ...         ...                ...
4978   6586-1  27-03-2016      Deirdre Greer
4981   6589-1   12/6/2016     Bill Donatelli
4982   6589-1  15-05-2015    Penelope Sewall
4983   6590-1   9/12/2015      Craig Carroll
4984   6590-1  27-05-2015       Jack OBriant

                                                Address       City State  \
6                           85-113 Dunning Ave,Rosebery     Sydney   NSW
7     Macquarie Centre Cnr Herring Road & Waterloo R...     Sydney   NSW
9                         1/160 Anzac Parade,Kensington     Sydney   NSW
10                             1-2/299 Sussex St,Sydney     Sydney   NSW
13    Macquarie Centre Cnr Herring Road & Waterloo R...     Sydney   NSW
...                                                 ...        ...   ...
4978                      33/4 Barangaroo Avenue,Sydney     Sydney   NSW
4981                       359 Crown Street,Surry Hills     Sydney   NSW
4982                          53-55 Liverpool St,Sydney     Sydney   NSW
4983                     99 Lygon Street,East Brunswick  Melbourne   VIC
4984                        85-113 Dunning Ave,Rosebery     Sydney   NSW

       Customer_Type     Account_Manager Order_Priority  \
6           Consumer         Mihael Khan  Not Specified
7        Home Office  Nicholas Fernandes         Medium
9          Corporate        Natasha Song       Critical
10         Corporate         Aanya Zhang         Medium
13    Small Business  Nicholas Fernandes  Not Specified
...              ...                 ...            ...
4978  Small Business        Natasha Song         Medium
4981        Consumer         Phoebe Gour            Low
4982     Home Office        Tina Carlton           High
4983  Small Business        Connor Betts           High
4984  Small Business         Mihael Khan       Critical

                                           Product_Name  ... Cost_Price  \
6                             Smiths Metal Binder Clips  ...       1.60
7                             Smiths Metal Binder Clips  ...       1.60
9        UGen Ultra Professional Cordless Optical Suite  ...     156.50
10       UGen Ultra Professional Cordless Optical Suite  ...     156.50
13                                   Artisan 487 Labels  ...       2.29
...                                                 ...  ...        ...
4978                                 Multimedia Mailers  ...      99.39
4981  Angle-D Binders with Locking Rings, Label Holders  ...       4.53
4982                                       Lumi Crayons  ...       5.22
4983                                  Colored Envelopes  ...       2.25
4984                                 Cando PC940 Copier  ...     278.99

     Retail_Price Profit_Margin Order_Quantity  Sub_Total  Discount_percent  \
6            2.62          1.02             45      65.50               4.0
7            2.62          1.02             34      24.92               2.0
9          300.97        144.47             42    1079.62               4.0
10         300.97        144.47              3    1602.02              10.0
13           3.69          1.40             34     205.60               2.0
...           ...           ...            ...        ...               ...
4978       162.93         63.54             31    1195.50               0.0
4981         7.30          2.77             49     255.52               9.0
4982         9.85          4.63             22     298.54               7.0
4983         3.69          1.44             31      70.44               6.0
4984       449.99        171.00              8    1355.00               0.0

      Discount_Amount  Order_Total  Shipping_Cost  Grand_Total
6                5.90        59.62           0.80        60.45
7                2.49        22.43           0.80        27.43
9               30.83      1753.33           7.18      1705.42
10             144.41      1513.83           7.18      1533.62
13               6.16       193.54           0.50       199.40
...               ...          ...            ...          ...
4978             0.00      1919.75          19.99      1918.75
4981             2.04       232.56           7.72       233.56
4982             2.99       295.55           4.82       298.65
4983             2.01        76.45           2.50        88.33
4984            15.59      1249.97          49.00      1299.47

[4613 rows x 24 columns]
Number of duplicate Order_No: 4613

,Order_No,Order_date,Customer_Name,Address,City,State,Customer_Type,Account_Manager,Order_Priority,Product_Name,...,Cost_Price,Retail_Price,Profit_Margin,Order_Quantity,Sub_Total,Discount_percent,Discount_Amount,Order_Total,Shipping_Cost,Grand_Total
0,4293-1,2/9/2014,Vivek Sundaresam,"152 Bunnerong Road,Eastgardens",Sydney,NSW,Small Business,Tina Carlton,Critical,UGen Ultra Professional Cordless Optical Suite,...,156.50,300.97,144.47,23,4533.52,2.0,194.83,4757.22,7.18,4291.55
1,5001-1,24-10-2015,Shahid Hopkins,"438 Victoria Avenue,Chatswood",Sydney,NSW,Corporate,Natasha Song,Medium,Bagged Rubber Bands,...,0.24,1.26,1.02,8,45.20,3.0,0.00,45.90,0.70,46.91
2,5004-1,13-03-2014,Dennis Pardue,"412 Brunswick St,Fitzroy",Melbourne,VIC,Consumer,Connor Betts,Not Specified,TechSavi Cordless Navigator Duo,...,42.11,80.98,38.87,45,873.32,4.0,72.23,837.57,7.18,82.58
3,5009-1,18-02-2013,Sean Wendt,"145 Ramsay St,Haberfield",Sydney,NSW,Small Business,Phoebe Gour,Critical,Artisan Printable Repositionable Plastic Tabs,...,5.33,8.60,3.27,16,73.52,1.0,4.35,740.67,6.19,730.92
4,5010-1,13-09-2014,Christina Vanderzanden,"188 Pitt Street,Sydney",Sydney,NSW,Small Business,Tina Carlton,Not Specified,Pizazz Drawing Pencil Set,...,1.53,2.78,1.25,49,138.46,7.0,5.95,123.77,1.34,125.97

In [31]:
df.to_csv(r"G:\DS_ALL_TOGETHER\bi project\Retail Insights dashboard\Sales Dataset\retail_data.csv", index=True)

# Data Preparation Documentation

## Overview
- Load sales data from `Sales Dataset/data.csv` into a pandas DataFrame.
- Clean currency, percentage, and quantity fields to ensure numeric types.
- Remove rows with missing `Order_Quantity`, inspect duplicates, and export a cleaned file.

## Steps Performed
1. **Import libraries**: pandas and numpy for data handling.
2. **Load dataset**: `pd.read_csv(...)` from the Sales Dataset folder.
3. **Currency cleanup**: strip `$` and `,` from cost/price totals, cast to `float` for calculations.
4. **Percent cleanup**: remove `%` from `Discount_percent`, cast to `float`.
5. **Numeric cleanup**: coerce `Order_Quantity` to numeric and then to nullable integer (`Int64`).
6. **Type normalization**: enforce `float` on monetary columns and `float` on `Discount_percent` for consistency.
7. **Missing values**: drop rows where `Order_Quantity` is null to keep valid order lines only.
8. **Duplicate check**: identify repeated `Order_No` entries and report their count.
9. **Export cleaned data**: save the processed DataFrame to `Sales Dataset/retail_data.csv` for downstream use.

## Notes
- All transformations are in-place on `df` to keep the workflow straightforward.
- Outputs include printed dtypes/head for verification and duplicate diagnostics.
- The cleaned CSV preserves the DataFrame index (`index=True`).

In [8]:
df.columns

Index(['Order_No', 'Order_date', 'Customer_Name', 'Address', 'City', 'State',
       'Customer_Type', 'Account_Manager', 'Order_Priority', 'Product_Name',
       'Product_Category', 'Product_Container', 'Ship_Mode', 'Ship_Date',
       'Cost_Price', 'Retail_Price', 'Profit_Margin', 'Order_Quantity',
       'Sub_Total', 'Discount_percent', 'Discount_Amount', 'Order_Total',
       'Shipping_Cost', 'Grand_Total'],
      dtype='object')